<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork20718188-2021-01-01"><img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width = 400> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction


Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development.Building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

In [36]:
!pip install keras==2.1.6

Collecting keras==2.1.6

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.0 requires keras<2.9,>=2.8.0rc0, but you have keras 2.1.6 which is incompatible.

  Using cached Keras-2.1.6-py2.py3-none-any.whl (339 kB)
Requirement already satisfied: six>=1.9.0 in c:\users\laptop\anaconda3\lib\site-packages (from keras==2.1.6) (1.16.0)
Requirement already satisfied: numpy>=1.9.1 in c:\users\laptop\anaconda3\lib\site-packages (from keras==2.1.6) (1.20.3)
Requirement already satisfied: scipy>=0.14 in c:\users\laptop\anaconda3\lib\site-packages (from keras==2.1.6) (1.7.1)
Requirement already satisfied: pyyaml in c:\users\laptop\anaconda3\lib\site-packages (from keras==2.1.6) (6.0)
Requirement already satisfied: h5py in c:\users\laptop\anaconda3\lib\site-packages (from keras==2.1.6) (3.2.1)
Installing collected packages: keras
  Attempting uninstall: keras
    Found existing installation: keras 2.8.0
    Uninstalling keras-2.8.0:
      Successfully uninstalled keras-2.8.0
Successfully installed keras-2.1.6

In [11]:
import pandas as pd
import numpy as np

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [12]:
conc_df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
conc_df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

how many data points we have?

In [13]:
conc_df.shape

(1030, 9)

there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Checking the dataset for any missing values.

In [14]:
conc_df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [15]:
conc_df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [20]:
conc_df_columns = conc_df.columns

X = conc_df[conc_df_columns[conc_df_columns != 'Strength']] # all columns except Strength
y = conc_df['Strength'] # Strength column

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)

Let's do a quick sanity check of the predictors and the target dataframes.

In [23]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [24]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [66]:
X_norm = (X - X.mean()) / X.std()
X_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [67]:
n_cols = X_norm.shape[1] # number of predictors

## Import Keras

In [68]:
import keras

In [69]:
from tensorflow.python.keras import Sequential
from tensorflow.python.keras.layers import Dense

In [70]:
model = Sequential()
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))
# compile model
model.compile(optimizer='adam', loss='mean_squared_error')

In [71]:
from sklearn.metrics import mean_squared_error
predicted_y = model.predict(X_test)
mean_squared_error(y_test,predicted_y)
model.fit(X_train, y_train, epochs=50)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 13325.3672
Epoch 2/50
23/23 [==============================] - 0s 943us/step - loss: 754.9100
Epoch 3/50
23/23 [==============================] - 0s 932us/step - loss: 240.3567
Epoch 4/50
23/23 [==============================] - 0s 936us/step - loss: 196.4068
Epoch 5/50
23/23 [==============================] - 0s 889us/step - loss: 189.0151
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 183.3317
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 180.2321
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 176.9838
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 174.9947
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 173.8837
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 170.6855
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 169.9092
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 168.1611
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 166.9590
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 164.8916
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 162.5111
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 160.7953
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 159.7333
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 157.8560
Epoch 20/50
23/23 [==============================] - 0s 921us/step - loss: 155.9257
Epoch 21/50
23/23 [==============================] - 0s 892us/step - loss: 153.7428
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 152.1794
Epoch 23/50
23/23 [==============================] - 0s 921us/step - loss: 151.5420
Epoch 24/50
23/23 [==============================] - 0s 846us/step - loss: 150.2264
Epoch 25/50
23/23 [==============================] - 0s 824us/step - loss: 148.0377
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 145.9858
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 144.9843
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 145.9623
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 143.6430
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 140.4837
Epoch 31/50
23/23 [==============================] - 0s 752us/step - loss: 137.7514
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 137.4316
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 136.0076
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 133.4625
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 132.3545
Epoch 36/50
23/23 [==============================] - 0s 904us/step - loss: 132.6601
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 130.8168
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 129.7324
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 128.4932
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 127.6627
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 126.3477
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 126.0751
Epoch 43/50
23/23 [==============================] - 0s 935us/step - loss: 124.4283
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 123.6557
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 126.1181
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 123.4252
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 125.1392
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 128.0617
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 122.3283
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 120.3016